body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 500;
}

h2, h3, h4, h5, h6{
    font-weight: 400;
}

p {
    font-weight: 300;
}

button {
    font-weight: 500;
}

.buy-now-button{
    background-color: #000000;
    padding: 10px 20px 10px 20px;
}

.fa-arrow-right{
    margin-left: 10px;
}

.navbar-collapse {
    justify-content: end;
}

.carousel-indicators .active {
    background: linear-gradient(90deg, #FF9C35 , #FFD019) !important;
    width: 45px !important;
    height: 12px !important;
    border-radius: 10px !important;
    background-clip: padding-box !important;
    border: 1px solid #fff !important;
}

.carousel-indicators button {
    background-color: #CECECE !important;
    width: 16px !important;
    height: 12px !important;
    border-radius: 6px !important;
    background-clip: padding-box !important;
    border: 1px solid #fff !important;
}

.carousel-inner-bg{
    height: 507px;
    padding: 70px;
}

.carousel-area {
    background-image: url(../images/bg-2.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 570px;
    background-size: 12%;
}

.default-margin {
    margin-bottom: 80px;
}

.see-all{
    color: #FF9D00;
}

.smart-phone-area a{
    text-decoration: none;
}

.laptop-area a{
    text-decoration: none;
}

.card{
    text-align: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
}

.card img {
    width: 320px;
    height: auto;
    padding: 32px;
}

.card-body {
    padding: 0px 55px 40px 55px;
}

.card-title {
    font-size: 24px;
    font-weight: 300;
}

.card-text {
    font-size: 16;
    font-weight: lighter;
    line-height: 30px;
}


.categories-title{
    border-bottom: 7px solid transparent;
    border-image: linear-gradient(to right, #FFD019, #FF9C35) 1;
    border-radius: 10px;
    background-clip: padding-box;
    width: 90px;
    justify-content: end;
    display: flex;
    line-height: 40px;
}

.cate-bag {
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    padding: 70px;
    border-radius: 15px 50px;
}