body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

button {
    font-weight: 500;
}

.buy-now-button{
    background-color: #000000;
    padding: 10px 20px 10px 20px;
}

.fa-arrow-right{
    margin-left: 10px;
}