body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

button {
    font-weight: 500;
}

.buy-now-button{
    background-color: #000000;
    padding: 10px 20px 10px 20px;
}

.fa-arrow-right{
    margin-left: 10px;
}

.carousel-indicators .active {
    background: linear-gradient(90deg, #FF9C35 , #FFD019) !important;
    width: 45px !important;
    height: 12px !important;
    border-radius: 10px !important;
    background-clip: padding-box !important;
    border: 1px solid #fff !important;
}

.carousel-indicators button {
    background-color: #CECECE !important;
    width: 16px !important;
    height: 12px !important;
    border-radius: 6px !important;
    background-clip: padding-box !important;
    border: 1px solid #fff !important;
}
